Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2021-09, with the labels that each got.

#100 Adding OpenShift Container Storage terms to the glossary
  supplementary_style_guide/glossary_terms_conventions/product_conventions/openshift-container-storage.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/openshift.adoc
  supplementary_style_guide/master.adoc
Labels: Glossary entry

#119 Updating points of contacts for org admin duties
  ADMIN.adoc
Labels: General update

#109 Adding guidance for conscious language replacements
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: Style entry

#110 Adding quick start entry for OpenShift
  supplementary_style_guide/glossary_terms_conventions/product_conventions/openshift.adoc
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: Glossary entry

#118 Add Organization Administrator to the glossary
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
Labels: Glossary entry

#113 Update Operator conventions
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/openshift.adoc
Labels: Glossary entry

#77 Add alts for "user-replaced value"
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: General update
