Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2021-07, with the labels that each got.

#99 Add RHEL to product-specific conventions list
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-enterprise-linux.adoc
  supplementary_style_guide/master.adoc
Labels: Glossary entry

#93 Added guidance on avoiding contractions
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: Style entry

#82 Adding icons for whether to use terms
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/images
  supplementary_style_guide/glossary_terms_conventions/product_conventions/images
  supplementary_style_guide/images/caution.png
  supplementary_style_guide/images/no.png
  supplementary_style_guide/images/yes.png
  supplementary_style_guide/master.adoc
Labels: General update

#91 Added icons to glossary terms C, D, and E
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/d.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/e.adoc
Labels: General update

#92 added glossary term usage icons for F, G, H, I, J, and K
  supplementary_style_guide/glossary_terms_conventions/general_conventions/f.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/g.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/h.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/j.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/k.adoc
Labels: General update

#104 Added glossary term usage icons for S-Z
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/symbols.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/t.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/u.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/v.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/w.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/x.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/y.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/z.adoc
Labels: General update

#106 UPDATE_SSG Added icons to P,Q,R of supplementary style guide
  supplementary_style_guide/glossary_terms_conventions/general_conventions/p.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/q.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
Labels: General update

#105 added icons for m-o
  supplementary_style_guide/glossary_terms_conventions/general_conventions/l.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/m.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
Labels: General update
