Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2021-06, with the labels that each got.

#80 Added info about single step procedures
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: Style entry

#22 Added release note doc text guidance
  supplementary_style_guide/style_guidelines/specific-doc-types.adoc
Labels: Style entry

#71 added entry for Conversational style
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: Style entry

#89 Add entry for standalone
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
Labels: Glossary entry

#54 Add how to use header
  supplementary_style_guide/introduction/about-guide.adoc
Labels: General update
