Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2022-09, with the labels that each got.

#215 Add entry for italic and double quotes use
  GUIDELINES.adoc
Labels: Style entry

#205 adding ODF entry to glossary and updating references to OCS
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
Labels: Glossary entry

#201 Updating repo guidelines for removing product specific glossary
  GUIDELINES.adoc
  HISTORY.md
  supplementary_style_guide/glossary_terms_conventions/product_conventions/amq7.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/azure-dotnet.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/bxms.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/ceph.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/fuse.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/images
  supplementary_style_guide/glossary_terms_conventions/product_conventions/jboss-eap.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/openshift-container-storage.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/openshift.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/products_conventions_overview.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-cloudforms.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-data-grid.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-directory-server.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-enterprise-linux.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-openstack-platform.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-satellite6.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-single-sign-on.adoc
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-virtualization.adoc
Labels: General update

#214 Added Cost Reference Section
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: Style entry

#209 Rewrote "Samba" glossary entry
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
Labels: Glossary entry

#211 Added "IP addresses and MAC addresses"
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: Style entry

#218 Updated ".NET Core" entry, added ".NET" entry
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
Labels: Glossary entry

#221 Adding and reorganizing style categories in the TOC
  GUIDELINES.adoc
  supplementary_style_guide/master.adoc
  supplementary_style_guide/style_guidelines/code-commands.adoc
  supplementary_style_guide/style_guidelines/formatting.adoc
  supplementary_style_guide/style_guidelines/general-formatting.adoc
  supplementary_style_guide/style_guidelines/grammar.adoc
  supplementary_style_guide/style_guidelines/graphical-interfaces.adoc
  supplementary_style_guide/style_guidelines/legal.adoc
  supplementary_style_guide/style_guidelines/links.adoc
  supplementary_style_guide/style_guidelines/release-notes.adoc
  supplementary_style_guide/style_guidelines/structure.adoc
Labels: General update

#207 Addressed inaccuracies with Data Grid product name entries and added link for Red Hat Way for JBoss EAP entry
  supplementary_style_guide/glossary_terms_conventions/general_conventions/j.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
Labels: Glossary entry

#223 adds terms to the glossary
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/h.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
Labels: Glossary entry

#210 Added networking terms to glossary
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/d.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/f.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/m.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/p.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/t.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/u.adoc
  supplementary_style_guide/style_guidelines/grammar.adoc
Labels: Glossary entry

#227 Renaming master.adoc to main.adoc
  .gitignore
  .travis.yml
  CONTRIBUTING.md
  README.md
  supplementary_style_guide/main.adoc
Labels: General update

#228 Renaming master branch to main
  .travis.yml
  ADMIN.adoc
  CONTRIBUTING.md
  HISTORY.md
  supplementary_style_guide/introduction/contributing.adoc
Labels: General update

#229 Fixing typo to test branch rename
  supplementary_style_guide/style_guidelines/release-notes.adoc
Labels: General update
