Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2022-02, with the labels that each got.

#161 Reverses the order of information presented in the Graphical interfac…
  supplementary_style_guide/style_guidelines/graphical-interfaces.adoc
Labels: General update

#146 RHDS terminology
  supplementary_style_guide/glossary_terms_conventions/product_conventions/red-hat-directory-server.adoc
  supplementary_style_guide/master.adoc
Labels: Glossary entry

#122 Add managed services section
  supplementary_style_guide/master.adoc
  supplementary_style_guide/style_guidelines/managed-services.adoc
Labels: Style entry

#152 Add master/slave to the Conscious Language section
  supplementary_style_guide/style_guidelines/general-formatting.adoc
Labels: Style entry
