Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2022-10, with the labels that each got.

#232 Issue 220 - add style guidance for homographs
  supplementary_style_guide/style_guidelines/grammar.adoc
Labels: Style entry

#237 Linking to TP template and updating link text
  supplementary_style_guide/style_guidelines/release-notes.adoc
  supplementary_style_guide/style_guidelines/support.adoc
Labels: Style entry

#230 Fixing some inconsistent entries and updating master -> control plane…
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/d.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/g.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/k.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/l.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/m.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/p.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/t.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/u.adoc
Labels: General update

#240 Added link guidance content
  supplementary_style_guide/style_guidelines/links.adoc
Labels: Style entry

#246 updated the GRUB entry
  supplementary_style_guide/glossary_terms_conventions/general_conventions/g.adoc
Labels: Glossary entry
