Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2023-12, with the labels that each got.

#431 Adding what's new for November 2023
  supplementary_style_guide/introduction/whats-new.adoc
Labels: General update

#430 issue-424: Updated IBM name references
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
Labels: Glossary entry

#402 Add Vale checks to the SSG
  .github/workflows/vale-on-pull.yml
  .gitignore
  .vale.ini
  .vale/styles/Vocab/SSG/accept.txt
  .vale/styles/Vocab/SSG/reject.txt
  GUIDELINES.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/d.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/e.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/f.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/g.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/h.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/j.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/k.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/l.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/m.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/numbers.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/p.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/q.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/symbols.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/t.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/u.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/v.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/w.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/x.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/y.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/z.adoc
Labels: General update

#358 GitHub-334: Adding details and RFCs for IP address ranges
  supplementary_style_guide/style_guidelines/code-commands.adoc
Labels: Style guideline
