Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2023-05, with the labels that each got.

#295 Adding architecture guidelines to Red Hat Style guide
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/x.adoc
Labels: Glossary entry

#323 Corrected typos to improve clarity
  supplementary_style_guide/glossary_terms_conventions/general_conventions/m.adoc
Labels: General update

#318 Add softirq to glossary
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
Labels: Glossary entry

#322 Issue291 - define external sites
  supplementary_style_guide/style_guidelines/links.adoc
Labels: Style entry
