Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2024-08, with the labels that each got.

#509 GitHub-490: Adding a link to the IBM Style guide
  supplementary_style_guide/introduction/about-guide.adoc
  supplementary_style_guide/main.adoc
Labels: General update

#510 added July 2024 What's New
  supplementary_style_guide/introduction/whats-new.adoc
Labels: General update

#495 Update grammar.adoc with guidance on inanimate users
  supplementary_style_guide/style_guidelines/grammar.adoc
Labels: Style guideline

#508 Issue 483, change identity provider acronym from IDP to IdP to match established usage
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
Labels: Glossary entry

#514 Add "backup storage location"
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
Labels: Glossary entry
