Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2024-07, with the labels that each got.

#499 Adding what's new for June 2024
  supplementary_style_guide/introduction/whats-new.adoc
Labels: General update

#502 issue-454-add-url-shortener-guidance
  supplementary_style_guide/style_guidelines/links.adoc
Labels: Style guideline

#482 Add Nmstate to glossary
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
Labels: Glossary entry

#500 module-lead-in-sentence-472
  supplementary_style_guide/style_guidelines/structure.adoc
Labels: Style guideline
