Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2024-03, with the labels that each got.

#444 Adding what's new for February 2024
  supplementary_style_guide/introduction/whats-new.adoc
Labels: General update

#452 Added a description for using the word currently
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
Labels: Glossary entry

#451 issue-420: clarify-deprecation-notice-wording
  supplementary_style_guide/style_guidelines/legal.adoc
  supplementary_style_guide/style_guidelines/release-notes.adoc
Labels: Style guideline

#427 Issue #235: add some examples to root cli commands entry
  supplementary_style_guide/style_guidelines/code-commands.adoc
Labels: Style guideline

#415 updated rpm-ostree glossary entry
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
Labels: Glossary entry

#456 Removing outdated comments from restructuring
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/d.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/e.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/f.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/g.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/h.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/j.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/k.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/l.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/m.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/p.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/q.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/t.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/u.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/v.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/w.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/x.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/z.adoc
Labels: General update

#458 Doing a sweep to add {nbsp} between 'Red' and 'Hat' throughout repo
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/d.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/e.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/f.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/g.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/h.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/j.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/k.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/l.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/m.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/p.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/q.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/t.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/u.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/v.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/w.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/x.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/z.adoc
  supplementary_style_guide/introduction/about-guide.adoc
  supplementary_style_guide/introduction/whats-new.adoc
  supplementary_style_guide/main.adoc
  supplementary_style_guide/style_guidelines/accessibility.adoc
  supplementary_style_guide/style_guidelines/links.adoc
  supplementary_style_guide/style_guidelines/support.adoc
Labels: General update

#442 Adding egress definition
  supplementary_style_guide/glossary_terms_conventions/general_conventions/e.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
Labels: Glossary entry

#445 Adding storage gloss terms
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/d.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/e.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/f.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/g.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/h.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/l.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/m.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/o.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/p.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/t.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/u.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/v.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/w.adoc
Labels: Glossary entry
