Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2024-02, with the labels that each got.

#443 Adding what's new for January 2024
  supplementary_style_guide/introduction/whats-new.adoc
Labels: General update

#441 updated Patternfly links
  supplementary_style_guide/style_guidelines/graphical-interfaces.adoc
Labels: General update

#434 A few minor tweaks to recent updates
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/n.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/p.adoc
Labels: General update

#413 Issue#390 - bold commands in codeblocks
  supplementary_style_guide/style_guidelines/formatting.adoc
Labels: Style guideline

#449 Remove CloudForms terms
  supplementary_style_guide/glossary_terms_conventions/general_conventions/a.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/s.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/v.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/w.adoc
Labels: Glossary entry
