Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2024-01, with the labels that each got.

#368 Adding ingress(adj) to the SSG
  supplementary_style_guide/glossary_terms_conventions/general_conventions/i.adoc
Labels: Glossary entry

#397 updating glossary items for RHV VM Portal "header bar"
  supplementary_style_guide/glossary_terms_conventions/general_conventions/h.adoc
Labels: Glossary entry

#433 added December What's New
  supplementary_style_guide/introduction/whats-new.adoc
Labels: General update

#437 Standardize the capitalization and short form of Red Hat Customer Portal
  supplementary_style_guide/glossary_terms_conventions/general_conventions/c.adoc
  supplementary_style_guide/glossary_terms_conventions/general_conventions/r.adoc
Labels: Glossary entry

#288 Adding guidance for referencing man pages
  supplementary_style_guide/style_guidelines/formatting.adoc
Labels: Style guideline
