Repository redhat-documentation/supplementary-style-guide, pull requests merged in 2024-06, with the labels that each got.

#478 Adding what's new for May 2024
  supplementary_style_guide/introduction/whats-new.adoc
Labels: General update

#475 Noting that you have to be a member of the org to view the project m…
  ADMIN.adoc
Labels: General update

#474 Add Base64 to glossary
  supplementary_style_guide/glossary_terms_conventions/general_conventions/b.adoc
Labels: Glossary entry

#494 issue-491-update-tech-preview-template-wording
  supplementary_style_guide/style_guidelines/support.adoc
Labels: Style guideline
